/* main title color: #212121; */
/* second title color: #757575; */
/* accent color color: #2196F3; */
/* footer email color: rgba(255, 255, 255, 0.6); */
/* white color: #FFFFFF; */
/* logo black color: #000; */
/* .container .primary-button {
  display: inline-flex;
} */




/* .link-border {
    position: absolute;
    background: var(--accent-color);
    bottom: 0px;
    border-radius: 2px;
    border-bottom: 4px solid var(--accent-color);
} */
/* auth */

/* .auth-nav .email::before{
  display: block;
  content: "";
  width: 10px;
  height: 16px  ;
  margin-right: 10px;
  background-image: url(../images/);
  background-size: contain;
  background-position: bottom;
} */


/* .phone::before {
  display: inline-flex;
  content: '';
  width: 10px;
  height: 16px;
  margin-right: 10px;
  background-image: url(../images/icons.svg#icon-smartphone);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */



/* hero */


/* Section */





/* tagline */


/* features */




/* /* .features-list-contant::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
.icon-antenna::before {
  background-image: url(../images/antenna1.svg);
}
.icon-clock::before {
  background-image: url(../images/clock1.svg);
}
.icon-diagramm::before {
  background-image: url(../images/diagram1.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut1.svg);
}
*/


/* examples */

/* clients */


/* button */



/* visually-hidden */

/* Footer */

/* Стили для portfolio.html */



/* portfolio-filters */

/* portfolio-desk */





/* .portfolio-items :hover .desk-active{
  position: absolute;
    
    width: 370px;
    height: 294px;
    opacity: 1;
    z-index: 1;

} */

/* @keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
} */



/* modal window  */

/* form */

/* checkbox  */

/* checkbox-btn */
