/* main title color: #212121; */
/* second title color: #757575; */
/* accent color color: #2196F3; */
/* footer email color: rgba(255, 255, 255, 0.6); */
/* white color: #FFFFFF; */
/* logo black color: #000; */
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #fff;
  --black-text-color: #000;
  --button-color: #f5f4fa;
  --background-style-color: #2f303a;
  --button-active-color: #188ce8;
  --button-solid-color: #eeeeee;
  --bottom-line: #ececec;
  --overlay-color: #c4c4c4;
  --socials-color: #afb1b8;
}
body {
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;

  line-height: 1.71;

  letter-spacing: 0.03em;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container .primary-button {
  display: inline-flex;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}

.logo {
  color: var(--black-text-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo:hover {
  color: var(--accent-color);
  text-decoration: none;
}
.logo-web {
  color: var(--accent-color);
}
/* Стили для index.html */
/* site nav */
.header {
  border-bottom: 1px solid var(--bottom-line);
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  position: relative;
  display: flex;
  margin-left: 93px;

  color: var(--primary-text-color);
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  position: relative;
  color: var(--accent-color);
  border-bottom: 4px solid var(--accent-color);
  border-radius: 2px;
}
.site-nav .link.current {
  color: var(--accent-color);
  border-bottom: 4px solid var(--accent-color);
    border-radius: 2px;
}
/* .link-border {
    position: absolute;
    background: var(--accent-color);
    bottom: 0px;
    border-radius: 2px;
    border-bottom: 4px solid var(--accent-color);
} */
/* auth */
.auth-nav {
  display: flex;
  margin-left: auto;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  height: 16px;
  align-items: center;
}

.auth-nav .item + .item {
  margin-left: 50px;
  /* align-items: center;
  justify-content: center; */
}
.auth-nav :hover,
.auth-nav :focus{
  color: var(--accent-color);
  fill: var(--accent-color);
}
.auth-nav .header-contacts:hover .item-email-icon,
.auth-nav .header-contacts:focus .item-email-icon{
  
    fill: var(--accent-color);
}
.auth-nav .header-contacts:hover .item-phone-icon,
.auth-nav .header-contacts:focus .item-phone-icon {

  fill: var(--accent-color);
}



/* .auth-nav .email::before{
  display: block;
  content: "";
  width: 10px;
  height: 16px  ;
  margin-right: 10px;
  background-image: url(../images/);
  background-size: contain;
  background-position: bottom;
} */

.item-email-icon {
  width: 16px;
  height: 12px;
  fill: var(--title-text-color);
}

/* .phone::before {
  display: inline-flex;
  content: '';
  width: 10px;
  height: 16px;
  margin-right: 10px;
  background-image: url(../images/icons.svg#icon-smartphone);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */

.item-phone-icon {
  fill: var(--title-text-color);

  background-size: auto;
  align-items: center;
}
.header-contacts {
  display: flex;
  align-items: center;
  gap: 10px;
}


/* hero */

.hero-title {
  margin: 0 auto 30px;
  max-width: 696px;
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
/* Section */
.section {
  color: var(--primary-text-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-hero {
  padding-bottom: 94px;
  background-color: var(--overlay-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  text-align: center;
  padding: 200px 0;
}
.section-team {
  background-color: var(--button-color);
}
.section-title {
  padding-bottom: 50px;
  text-align: center;
  color: var(--primary-text-color);

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.section-title-team {
  padding-top: 94px;
  padding-bottom: 50px;
  text-align: center;
  color: var(--primary-text-color);

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.section-tagline {
  padding-top: 94px;
  list-style: none;
}
.section-filters {
  padding-top: 94px;
  padding-bottom: 94px;
  list-style: none;
}

/* features */
.features-filters {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
  list-style: none;
}
.features-list {
  display: flex;
  list-style: none;
}
.features-list-contant + .features-list-contant {
  margin-left: 30px;
}
/* /* .features-list-contant::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
.icon-antenna::before {
  background-image: url(../images/antenna1.svg);
}
.icon-clock::before {
  background-image: url(../images/clock1.svg);
}
.icon-diagramm::before {
  background-image: url(../images/diagram1.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut1.svg);
}
*/
.features-list-image {
  display: flex;
  list-style: none;
  position: relative;
} 
.features-list-image .img-team + .img-team {
  margin-left: 30px;
} 
.img-team-info{
  
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0px;
  width: 370px;
  height: 70px;

}
.img-team-info-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
  
    color: var(--primary-white-color);
    margin: 27px 0;
}
.features-img {
  display: block;
  
  background-color: var(--button-color);
  margin-bottom: 30px;
  
  }
.features-icon {
  height: 70px;
  width: 70px;
  margin: 25px 100px;
  background-size: cover;

}
.features-list .title {
  color: var(--primary-text-color);
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-list .link {
  color: var(--accent-color);
}
.features-list-desk {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

/* examples */
.work-list {
  padding-bottom: 94px;
  display: flex;
  list-style: none;
}
.work-list .title {
  color: var(--primary-text-color);
}

.photo-team {
  width: 270px;
  height: 428px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: ease-in-out 0.3s;
}
.photo-team:hover {
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.photo-team + .photo-team {
  margin-left: 30px;
}
.title-team {
  text-align: center;
  margin: 30px 0 10px 0;
  color: var(--black-text-color);
  font-size: 16px;
  line-height: 1.19;
}
.title-secondary {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

/* socials box */
.social-box {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.socials-links {
  background-color: var(--accent-color);
  border-radius: 50%;
}
.team-socials-icon {
  background-size: cover;
  margin: 12px;
}
/* .team-socials-img {
  display: flex;
  content: "";
  background-size: contain;
  align-items: center;
} */

.team-socials-img {
  display: block;
  width: 44px;
  height: 44px;
  fill: var(--socials-color);
  margin-left: 10px;
}

.team-socials-img:hover,
.team-socials-img:active {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}
.team-socials-img:hover {
  border-radius: 50%;
}

/* clients */
.clients-box {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients-img:hover,
.clients-img:active {
  fill: var(--accent-color);
}
.clients-team:hover,
.clients-team:active {
  border: 1px solid var(--accent-color);
}
.clients-team {
  width: 170px;
  height: 92px;
  border: 1px solid var(--socials-color);
  border-radius: 4px;
}
.clients-img {
  display: flex;
  fill: var(--socials-color);
}
.clients-icon {
  background-size: contain;
  margin: 16px 32px;
}

/* button */

.primary-button {
  align-items: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 0;
  box-shadow: 0px 4px 4px rgb(0 0 0 /0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  text-align: center;
  cursor: pointer;
  padding: 10px 32px;
}

.primary-button:hover {
  color: var(--primary-white-color);

  background: var(--button-active-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 0.5);
  border-radius: 4px;
}
.primary-button:active {
  color: var(--primary-white-color);

  background: var(--button-active-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 0.5);
  border-radius: 4px;
}

/* visually-hidden */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Footer */
.down-page {
  padding: 65px 0;
  background-color: var(--background-style-color);
}
.logo-footer {
  color: var(--primary-white-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-footer:hover {
  color: var(--primary-white-color);
  text-decoration: none;
}
.logo-footer-web {
  color: var(--accent-color);
}
.auth-nav-footer {
  display: inline-block;
}
.auth-nav-footer .link-footer {
  color: rgb(255 255 255 / 0.6);
  font-weight: 400;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
}
.footer-address {
  padding-top: 20px;
}
.auth-nav-footer .link-footer:hover,
.auth-nav-footer .link-footer:active {
  color: var(--accent-color);
}
.auth-nav-footer .link-adress {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}
.footer-link {
  padding-bottom: 9px;
  height: 21px;
  box-sizing: content-box;
}

/* footer-socials */

.footer-social-box {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
}
.footer-main {
  display: flex;
  align-items: baseline;
}
.footer-socials-title {
  
  margin-left: 70px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
/* .footer-socials-links {
  background-color: var(--accent-color);
  border-radius: 50%;
} */

.footer-socials-icon {
  background-size: cover;
  margin: 12px;
}

.footer-socials-img {
  display: block;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
  border-radius: 50%;
}

.footer-socials-img:hover,
.footer-socials-img:active {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
  border-radius: 50%;
}

/* Стили для portfolio.html */

/* button */

.secondary-button {
  padding: 6px 22px;
  height: 38px;
  width: auto;
  color: var(--primary-text-color);
  background-color: var(--button-color);
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  font-family: inherit;
  cursor: pointer;
}
.secondary-button:first-child {
  padding: 6px 24px;
}

.secondary-button:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.secondary-button:active {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.filter-button + .filter-button {
  padding-left: 8px;
}
/* features */

.features-link {
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.title-desk {
  margin: 20px 24px 4px 24px;
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.desk-secondary {
  margin: 0 24px 20px 24px;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.88;
}
.desk-active {
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: scale;
}
.portfolio-items .desk-active {
  position: absolute;
  z-index: -1;
 transform: translate(0px , 333px);
  
}
.portfolio-items :hover .desk-active{
  position: absolute;
    background: rgba(33, 150, 243, 0.9);
    width: 370px;
    height: 294px;
    opacity: 1;
    z-index: 1;

}
.desk-text {
  display: flex;
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;
  text-align: center;
  margin: 63px 24px;
}


.portfolio-items {
  position: relative;
  max-width: 370px;
  border: 1px solid var(--button-solid-color);
  transition: ease-in-out 0.4s;
}
.portfolio-items:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
/* modal window  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color:var(--primary-white-color);
}