.clients {
    display: flex;
    @media screen and (max-width: 767px) {
           
            padding: 60px 0;
            
    
        }
    
        @media screen and (min-width: 768px) {
            
            padding: 60px 0;
        }
    
        @media screen and (min-width: 1200px) {
            
            padding: 94px 0;
        }
    &__container {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 767px) {
            width: 480px;
            
            align-items: center;
            margin: 0 auto;
            
        }
        @media screen and (min-width: 768px) {
            width: 768px;
            align-items: center;
            
        }
    
        @media screen and (min-width: 1200px) {
            width: 1200px;
            margin: auto;
            
        }
    }
        &__box {
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: center;
            gap: 30px;
            @media screen and (max-width: 767px) {
                    display: flex;
                    flex-wrap: wrap;
                    // flex-basis: ((100% - 30px) / 2);
                }
            
                @media screen and (min-width: 768px) {
                    width: 768px;
                    flex-wrap: wrap;
                }
            
                @media screen and (min-width: 1200px) {
                    width: 1200px;
                    display: flex;
                    flex-wrap: nowrap;
                }
            
        }
    &__img {
        display: flex;
        fill: var(--socials-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            fill: var(--accent-color);
        }
    }
    &__team {
            width: 170px;
            height: 92px;
            border: 1px solid var(--socials-color);
            border-radius: 4px;
            transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus {
                    border: 1px solid var(--accent-color);
                }
                @media screen and (max-width: 767px) {
                    width: 210px;
                }
            
                @media screen and (min-width: 768px) {
                    width: 226px
                }
            
                @media screen and (min-width: 1200px) {
                }
        }
  
    &__icon {
        background-size: contain;
        margin: 16px auto;
    }
    &__title {
        
        text-align: center;
        color: var(--primary-text-color);
    
        
        
        letter-spacing: 0.03em;
        @media screen and (max-width: 767px) {
            font-size: 28px;
            line-height: 1.18;
            margin-bottom: 30px;
            }
        
            @media screen and (min-width: 768px) {
                font-size: 28px;
                line-height: 1.18;
                margin-bottom: 30px;
            }
        
            @media screen and (min-width: 1200px) {
                font-size: 36px;
                line-height: 1.17;
                margin-bottom: 50px;
            }
        
    }
}