.clients {
    &__box {
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: center;
            gap: 30px;
            
        }
    &__img {
        display: flex;
        fill: var(--socials-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            fill: var(--accent-color);
        }
    }
    &__team {
            width: 170px;
            height: 92px;
            border: 1px solid var(--socials-color);
            border-radius: 4px;
            transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus {
                    border: 1px solid var(--accent-color);
                }
        }
  
    &__icon {
        background-size: contain;
        margin: 16px 32px;
    }
    &__title {
        padding-bottom: 50px;
        text-align: center;
        color: var(--primary-text-color);
    
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
    }
}