.features {
    &__title {
            padding-bottom: 50px;
            text-align: center;
            color: var(--primary-text-color);
    
            font-size: 36px;
            line-height: 1.17;
            letter-spacing: 0.03em;
        }
    &__list {
        display: flex;
        list-style: none;
        position: relative;
    }
    &__info {
        position: absolute;
        background: rgba(47, 48, 58, 0.8);
        bottom: 0px;
        width: 370px;
        height: 70px;
    }
    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;
    
        color: var(--primary-white-color);
        margin: 27px 0;
    }
    &__img {
        & + &{
            margin-left: 30px;
        }
    }


}