.header {
    border-bottom: 1px solid var(--bottom-line);

    &__container {
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    &__logo {
        color: var(--black-text-color);
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-decoration: none;

        &:hover {
            color: var(--accent-color);
            text-decoration: none;
        }


    }

    &__web {
        color: var(--accent-color);
    }

    &__site-nav {
        position: relative;
        display: flex;
        margin-left: 93px;

        color: var(--primary-text-color);
        color: inherit;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        list-style: none;
        letter-spacing: 0.02em;
    }


    &__link {
        position: relative;
        display: block;
        padding-top: 32px;
        padding-bottom: 31px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        text-decoration: none;
        color: inherit;

        &:hover::after,
        &:focus::after {
            opacity: 1;
        }

        &.current::after {
            opacity: 1;
        }

        &::after {
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background-color: var(--accent-color);
            content: "";
            opacity: 0;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover,
        &:focus {
            position: relative;
            color: var(--accent-color);
        }

        &.current {
            color: var(--accent-color);
        }
    }



    &__item:not(:last-child) {
        margin-right: 50px;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }


    &__auth-nav {
        display: flex;
        margin-left: auto;
        color: var(--title-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        height: 16px;
        align-items: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        list-style: none;
    }

    &__auth-link {
        position: relative;
        display: flex;
        padding-top: 32px;
        padding-bottom: 31px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        text-decoration: none;
        color: inherit;
        gap: 10px;

        align-items: center;

        &:hover,
        &:focus {
            color: var(--accent-color);
            fill: var(--accent-color);
        }

    }

    &__auth-link:hover &__email-icon,
    &__auth-link:focus &__email-icon {
        fill: var(--accent-color);
    }

    &__auth-link:hover &__phone-icon,
    &__auth-link:focus &__phone-icon {
        fill: var(--accent-color);
    }

    &__email-icon {
        width: 16px;
        height: 12px;
        fill: var(--title-text-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__phone-icon {
        fill: var(--title-text-color);

        background-size: auto;
        align-items: center;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


}

.main__nav {
    display: flex;
    align-items: center;
}