
.hero {
    
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 94px;
    background-color: var(--overlay-color);
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    text-align: center;
    padding: 200px 0;
    @media(min-device-pixel-ratio: 2),
        (min-resolution: 192dpi)
    {
        background-image: url(../images/header@x2.jpg);

    }
    @media screen and (min-width:480px) {
            width: 480px;
            padding: 94px 0;
    
        }
    
        @media screen and (min-width:768px) {
            width: 768px;
        }
    
        @media screen and (min-width:1200px) {
            width: 1200px;
        }
    &__title {
            
            @media screen and (min-width:480px) {
                    margin: 0 auto 30px;
                        max-width: 696px;
                        color: var(--primary-white-color);
                        text-transform: uppercase;
                        font-weight: 900;
                    font-size: 26px;
                    line-height: 1.62;
                    letter-spacing: 0.06em;
                }
            
                @media screen and (min-width:768px) {
                    
                }
            
                @media screen and (min-width:1200px) {
                    margin: 0 auto 30px;
                        max-width: 696px;
                        color: var(--primary-white-color);
                        text-transform: uppercase;
                        font-weight: 900;
                        font-size: 44px;
                        line-height: 1.36;
                        letter-spacing: 0.06em;
                    
                }
        }
}

