.tagline {
    padding-top: 94px;
    list-style: none;

    &__list {
            display: flex;
            list-style: none;
        }
    &__contant + &__contant {
        margin-left: 30px;
    }
    &__img {
        display: block;
    
        background-color: var(--button-color);
        margin-bottom: 30px;
    }
    &__icon {
        height: 70px;
        width: 70px;
        margin: 25px 100px;
        background-size: cover;
    }
    &__title {
        color: var(--primary-text-color);
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
}