:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196f3;
    --primary-white-color: #fff;
    --black-text-color: #000;
    --button-color: #f5f4fa;
    --background-style-color: #2f303a;
    --button-active-color: #188ce8;
    --button-solid-color: #eeeeee;
    --bottom-line: #ececec;
    --overlay-color: #c4c4c4;
    --socials-color: #afb1b8;
}